:root {
    --purple: #b64ef2;
    --all: #2d414b;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
    font-family: monospace;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px purple, 0px 0px 30px purple, 0px 0px 50px purple, 0px 0px 70px purple;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/260/76/893/abstract-circuit-computer-detail-wallpaper-preview.jpg);
    font-family: 'Times New Roman', Times, serif;
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.cell {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
    box-shadow: inset 0px 0px 20px red, 0px 0px 20px red;
}

button {
    display: flex;
    padding: 10px 20px;
    background: none;
    color: yellowgreen;
    font-size: larger;
    text-decoration: none;
    overflow: hidden;
    transition: 0.8s;
    border: purple;
    border-radius: 15px 15px 15px 15px;
    text-shadow: 0px 0px 10px lime, 0px 0px 30px lime, 0px 0px 50px lime, 0px 0px 70px lime;
}

button:hover {
    background: blue;
    box-shadow: 0px 0px 10px blue, 0px 0px 40px blue, 0px 0px 80px blue;
}

.start {
    display: flex;
    color: black;
    text-decoration: none;
    border-radius: 2rem;
}

p {
    display: flex;
    text-align: center;
}

.play-again-btn {
    display: flex;
    width: 5rem;
    color: yellowgreen;
    text-decoration: none;
    justify-content: center;
    text-shadow: 0px 0px 10px lime, 0px 0px 30px lime, 0px 0px 50px lime, 0px 0px 70px lime;
}

.footer-menu {
    display: flex;
    margin-top: 2rem;
}

.main-menu-btn {
    display: flex;
    width: 5rem;
    color: yellowgreen;
    text-decoration: none;
    justify-content: center;
    text-shadow: 0px 0px 10px lime, 0px 0px 30px lime, 0px 0px 50px lime, 0px 0px 70px lime;
}

footer {
    margin-top: 36rem;
    position: absolute;
}

.turn-text {
    display: flex;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-shadow: 0px 0px 10px lime, 0px 0px 30px lime, 0px 0px 50px lime, 0px 0px 70px lime;
}