p {
    font-size: larger;
    text-shadow: 0px 0px 10px lime, 0px 0px 30px lime, 0px 0px 50px lime, 0px 0px 70px lime;
    margin-top: 6rem;
    color: darkgreen;
}

h5 {
    display: flex;
}

button {
    display: flex;
    width: 5rem;
    color: white;
    text-decoration: none;
    justify-content: center;
    text-shadow: 0px 0px 10px lime, 0px 0px 30px lime, 0px 0px 50px lime, 0px 0px 70px lime;
}

body {
    background-image: url(https://w0.peakpx.com/wallpaper/336/241/HD-wallpaper-black-chip-abstract-board-circuit-cpu-dark-electronics-gpu-thumbnail.jpg);
}